.next
node_modules
.turbo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.tmp
dist
coverage
.venv
profiles/user
uploads
*.pyc
__pycache__/
python/.mypy_cache
python/.pytest_cache
